Gemfile.lock
*.gem
.ruby-version
.ruby-gemset
.rvmrc
.binstubs/
.bundle/
.idea/
.yardoc/
coverage/
coverage.data
doc/
spec/fixtures/derivatives/
spec/temp/
pkg/

**/.DS_Store

.pry_history
**/.DS_Store
